// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
$v-gradient: v-linear 8%;
$v-bevel-depth: 30%;
$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

$v-app-loading-text: "Loading...";

//$v-background-color: #fafafa;
//$v-app-background-color: #E9E9EE;
$v-panel-background-color: #CEECF5;
$v-focus-color: #3b5998;
$v-focus-style: 0 0 1px 1px rgba($v-focus-color, .5);
$v-border-radius: 1px;
$v-textfield-border-radius: 0;
$v-font-family: "Arial", geneva, helvetica, arial, tahoma, verdana, sans-serif;

$v-selection-overlay-background-color: #fff;
$v-selection-overlay-padding-horizontal: 0;
$v-selection-overlay-padding-vertical: 3px;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo";
@import "../valo/valo.scss";

@mixin mtelaustrija {
  @include valo;
  
  	.v-ui {
    	background: url(img/banner_02.jpg);
  	}
  
  	.v-filterselect-input { 
  		font-family: "Arial", geneva, helvetica, arial, tahoma, verdana, sans-serif;
		font-size: 10px;
		padding-top: 5px;
		padding-bottom: 5px;
  	}
  	
  	.v-filterselect-button {
  		border-style: solid;
    	border-width: 1px;
  	}
  	
  	.v-filterselect-suggestpopup {
		font-size: 10px;
		color: #761502;
		text-align:left;
     	vertical-align:text-middle;
	}

	.v-label {
    	color: #761502;
    	font-size: 8pt;
    	padding-top: 2px;
    	padding-left: 2px;
  	}
  	
  	.v-caption {
  		color: #761502;
  	}
 	
	.v-slot div div {
		background-color: #FFFFFF;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	
	.v-button {
   		padding-top: 4px;
		padding-bottom: 4px;
   	}

	.v-verticallayout {
		padding-top: 7px;
		padding-bottom: 7px;
	}
	
	.v-upload {
		padding-top: 15px;
		padding-bottom: 5px;
	}	
	
	.v-grid-cell {
		font-family: "Arial", geneva, helvetica, arial, tahoma, verdana, sans-serif;
		height: 28px;
		font-size: 10px;
		text-align: left;
	}
	
	.v-tabsheet-content {
		border: 1px;
	}

	.v-tabsheet-deco {
		background: transparent;
	}

	.v-tabsheet-tabitem .v-captiontext {
		color: #761502;
		font-size: 14px;
	}

}